.searchContent {
  margin-top: 16px;
  min-height: 400px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.searchContent.activeSpinner {
  margin-top: 48px;
}

.searchContent.noData {
  margin-top: 48px;
  min-height: auto;
}